graphviz
langchain_openai
langchain_core
langchain_community
langserve
streamlit
python-dotenv
moviepy
torch
transformers
librosa
numpy
graphviz
requests
nltk
langchain-ollama
transformers 
pathlib
python-pptx
ollama
langchain
opencv-python
opencv-python-headless
fastapi 
uvicorn
pytesseract
python-multipart
asyncpg
opencv-contrib-python
imageio[ffmpeg]
ffmpeg-python
pillow
filelock 
packaging 
regex 
requests 
numpy>=1.19.3 
cachetools 
pandas 
joblib